@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@inject IViewLocalizer Localizer

<div class="text-center">
    <h1 class="display-4">@SharedLocalizer["Welcome"]</h1>
    <p>@Localizer["Learn about building Web apps with ASP.NET Core."]</p>
</div>
